*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;
    font-weight: 800;
    text-align: center;
}
p {
    color: #6b7280;
    text-align: center;
    margin: 15px;
}
#register-ancor {
    color: #10b981;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition: 0.2s;
    cursor: pointer;
    font-weight: bold;
}
#login-ancor {
    color: #4f46e5;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition: 0.2s;
    cursor: pointer;
    font-weight: bold;
}
#register-ancor:hover {
    color: #14976b;
}
#login-ancor:hover {
    color: #3831c5;
}
#main-page{
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding: 2rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0 20px 25px -5px #0000001a,
    0 8px 10px -6px #0000001a;
}
form {
    margin-top: 10px;
}
.label-login{
    color: #374151;
}
.input-login {
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    margin-top: 0.30rem;
    border: 1px solid #d1d5db;
    margin-bottom: 20px;
    width: 100%;
}
.input-login:focus {
    outline-width: 1px;
    outline-style: solid; 
    outline-color: #5d56e9;
}
.submit-btn-login {
    background-color: #4f46e5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
    
}
.submit-btn-register {
    background-color: #10b981;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.submit-btn-login:hover {
    background-color: #3831c5
}
.submit-btn-register:hover {
    background-color: #14976b
}
#register-radio {
    color: #374151;
    font-size: small;
    margin-top: 1rem;
    margin-bottom: 10px;
}
#radio{
    margin-right: 10px;
}